.CTAButton {
    display:inline-block;
    border-radius: 50em;
    padding: 0.4em 1.5em 0.6em 1.5em;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: background-color .3s ease;
}

.CTA {
    background-color: #FF518F;
    color: #FFF;
}

.CTA:hover {
    background-color: #e71c63;
}

.alt {
    background-color: #FFF;
    color: #666;
    border: 1px solid #B8B8B8;
    transition: background-color .3s ease, color .3s ease;
}

.alt:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid #B8B8B8;
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
}

button:focus {
    outline: none;
}