.CTA {
    background-color: #FF518F;
    display:inline-block;
    color: #FFF;
    border-radius: 50em;
    padding: 0.4em 1.5em 0.6em 1.5em;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.alt {
    background-color: #FFF;
    display:inline-block;
    color: #666;
    border-radius: 50em;
    border: 1px solid #B8B8B8;
    padding: 0.4em 1.5em 0.6em 1.5em;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}