.Actualizar{
margin-top:-14em;
width: 25em;
height: 25em;
//border:0.2em solid black;
display: flex;
flex-direction: column;
justify-content: center;
//margin:1em;
justify-content: space-between;

}
.boton{
background-color: #FF518F;
color: rgb(245, 239, 239);
width: 8em;
height: 4em;
border: solid rgb(207, 201, 201) 0.2em;
border-radius: 2em;

margin-left: 8em;
}