
.vistaHome{

    .vistaMain{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .slogan{
        width: 100%;
        height: 90px;
        font-size: 20px;
    }
    .vistaClinica{
    
        width: 100%;
       
        height: 370px;
        background-image: url('../../img/clinica\ dental\ foto2.jpg');
        background-size: cover;
        background-position: center;
       
        
    }
    .vistaFooter{
    
        width: 100%;
        height: 100px;
        background-color: rgb(70, 67, 67);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    p{
        font-size: 10px;
    }
    
}
.coleccionespecialidades{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;

    justify-content: center;
    justify-content: space-evenly;
}
.especialidad{
    width: 200px;
    height: 200px;
   // border: 2px solid rgb(7, 6, 7);
    margin-left: 70px;
    
}
.h3{
    color: rgb(177, 10, 177);

}
img{
    display: flex;
    width: 200px;
    height: 200px;
}
.vistaDivEspecialidades{
    width:350px ;
    height: 350px;
  /*  border: 2px solid rgb(173, 18, 173);*/
    margin: 15px;
}
