.pre{
    margin-left:300px
}
.container{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
}
.h3{
   color:#FF518F;

}

.right{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
 
    flex-direction: column;
}

.bienvenida{
    margin-top:20px;
    margin-left: -800px;
}
// formulario and carousel
.cuerpo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1000px;
    height: 300px;
   // border: 2px solid rgb(196, 6, 196);
}
.calendario{
    width: 800px;
    margin-left: 120px;
}
.form{
 display:flex;
 flex-direction: row;
 justify-content: space-evenly;
 width: 1000px;
 height: 400px;
 margin-top:-150px;
 margin-left:20px;
}
.input{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lateral{
    height: 320px;
    width: 20px;
    background-color: #FF518F;
    margin: 40px;
}
.subbmit{
  width: 100px;
  height: 30px;
  background-color:#FF518F;
  color:rgb(255, 255, 255);
  border: rgb(15, 15, 15) 2px solid;
  border-radius: 10px;
  margin-top: -100px;
  margin-left:450px;
}

