.modalBackground {
    width: 50%;
    height: 50%;
    background-color: rgba(200, 200, 200);
    position: fixed;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}