.vistaHeader{

 width: 100vw;
 height: 72px;
 border: 1px solid violet;
 display: flex;
 flex-direction: row;
 align-items: center;

}
.logo{

border: 1px solid violet;
width: 223px;
height: 50px;
display: flex;
margin-left: 50px;
}


