.headerContainer {
  width: 90%;
  max-width: 1320px;
  margin:auto;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12em;
  height: 3em;
  background-image: url("../../logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}

header {
  border: 1px solid #E5E5E5;
}

@media (max-width:575px) {
    .logo.collapse {
        width: 3.3em;
        background-size: cover;
        background-position-x: left;
    }
}