
.appointmentsContainer {
    flex: 0 1 auto;
    display:flex;
    flex-direction: row;
    height:100%;
    overflow-y: auto;

    .titulo {
        text-align: start;
        font-size: 1.8rem;
        margin: 1.6rem 5rem;
    }
    
    .appointments {
        position: relative;
        height: 100%;
        flex: 1 1 auto;
        background-color: #fbfbfb;
        overflow-y: auto;
    }

    .appointment {
        background-color: #FFF;
        margin: 0 5% 1.5em 5%;
        padding: 1.7em 1em;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 75em;

        .date {
            color: #666;
            font-size: 1.3rem;
            font-weight: bold;
            text-align: right;
            width: 6em;
        }
        .row {
            display:flex;
            justify-content: flex-start;
            align-items: flex-start;
            
            .title {
                font-weight: 500;
                text-align: right;
                width:9em;
                margin-right:1.5em;
            }
            margin: .5em 0;
        }
        .cancel {
            position:absolute;
            right:0;
            bottom:0;
            color: $pink;
            padding: 0 1.4rem .8em 0;
            font-size: .9rem;
            font-weight: 500;
            cursor: pointer;
            user-select: none;
        }
    }
    
    .buttonContainer {
        margin-bottom:2em;
    }
    
    header {
        flex: 0 1 auto;
    }

}
