.messageContainer {
  position: absolute;
  top:0;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5em;
}

.hidden {
  display: none;
}

.message {
  min-width: 34%;
  position: sticky;
  max-width: 1320px;
  margin:auto;
  padding:.5em 1em;
  background-color: white;
  border-radius:.5em;
  box-shadow: 0 .2em .3em rgba(0,0,0,0.1);
  color: $error-color;
  border: 2px solid $error-border-color;
  transform-origin: top left;
  transition: transform 1s ease;
  transform: translateY(-10em);
}

.visible {
  transform: none;
}